* { margin: 0; padding: 0; }

body {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: normal;
    font-family: sans-serif;
    margin: 0 3em;
    width: 30em;
    background-color: #F8F8F8;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { font-size: 2.25em; line-height: 1.333333333; margin-top: 0.666666666em; margin-bottom: 0.666666666em; }
h2 { font-size: 1.75em; line-height: 1.714285714; margin-top: 0.857142857em; margin-bottom: 0em; }
h3 { font-size: 1.25em; line-height: 1.2; margin-top: 1.2em; margin-bottom: 0; }

p, textarea, input, .box {
    margin-bottom: 1.5em;
}

.box {
    border: 1px solid grey;
    border-left: 4px solid black;
    margin: 0 -1px -1px 0;
    margin-bottom: 1.5em;
    padding-left: 28px;
    background-color: #EEE;
}
.box .box {
    background-color: #DDD;
}

.box > p:first-child {
    display: block;
    margin-left: -28px;
    padding-left: 28px;
    font-weight: bold;
    cursor: move;
    background: url('../icons/editor-sprite-24px.gif') 0 -48px no-repeat;
}

.button {
    cursor: pointer;
    float: right;
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -999999px;
    background-image: url('../icons/editor-sprite-24px.gif');
}
.button.gap {
    width: 12px;
    cursor: auto;
    background: none;
}
.button.blank {
    cursor: auto;
    background: none;
}
.button.up          { background-position: 0 -0px; }
.button.drag        { background-position: 0 -48px; }
.button.down        { background-position: 0 -96px; }
.button.duplicate   { background-position: 0 -144px; }
.button.add         { background-position: 0 -192px; }
.button.remove      { background-position: 0 -240px; }

.add.box { height: 24px; }
.add.box p {
    cursor: pointer;
    background-position: 0 -192px;
    height: 24px;
}

textarea, input {
    display: block;
}

ol input {
    display: inline-block;
}

section {
    max-width: 30em;
}

ul, ol {
    margin-top: -1.5em;
    margin-left: 1.5em;
}

/* export button */
body > input[type=button] {
    float: right;
    vertical-align: bottom;
    padding: 0.25em;
}

canvas {
    border: 2px solid grey;
}
