<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Campaign Editor for Firewall Game</title>
    <link rel=stylesheet href=css/editor.css>

    <script type=text/template id=list-template>
        <h2><%= headerText %></h2>

        <div class="list">
        </div>

        <div class="add box">
            <p><%= addNewText %></p>
        </div>
    </script>

    <script type=text/template id=item-title-bar-template>
        <p><%= title %>
            <span class="button remove" title="delete item">Delete</span>
            <span class="button duplicate" title="duplicate item">Duplicate</span>
            <span class="button gap"></span>
            <span class="button down" title="move item down">Move Down</span>
            <span class="button up" title="move item up">Move Up</span>
        </p>
    </script>


    <script type=text/template id=campaign-template>
        <p><label>Title <input placeholder='Title of campaign' data-key=title value="<%= title %>"></label></p>
        <p><label>Authors <input placeholder='Your name(s)' data-key=authors value="<%= authors %>"></label></p>
        <p><label>Description <textarea placeholder='A general description of the campaign' data-key=description><%= description %></textarea></label></p>
        <p><label>Debrief <textarea placeholder='Debried to present to user after campaign is completed' data-key=debrief><%= debrief %></textarea></label></p>
    </script>

    <script type=text/template id=challenge-template>
        <p><label>Prompt <textarea placeholder='Enter new user prompt' data-key=prompt><%= prompt %></textarea></label></p>
        <p><label>Solution <textarea placeholder='Enter solution (not shown to user for documentation solely)' data-key=solution><%= solution %></textarea></label></p>
        <p><label>Debrief <textarea placeholder='Enter new debrief for when user completes challenege' data-key=debrief><%= debrief %></textarea></label></p>
        <p><label>Points <input type=number min=0 step=1 value=0></label></label></p>
    </script>

    <script type=text/template id=testPacket-template>
        <div class=packet></div>
        <p><label>Should send correctly? <input data-key=shouldPass type=checkbox<% if (shouldPass) { %> checked<% } %>></label></p>
        <p><label>On pass text <input data-key=passMsg value="<%= passMsg %>"></label></p>
        <p><label>On fail text <input data-key=failMsg value="<%= failMsg %>"></label></p>
    </script>

    <script type=text/template id=packet-template>
        <p><label>Type <select data-key=type>
            <option <% if (type === 'tcp') { %>selected <% } %>value=tcp>TCP</option>
            <option <% if (type === 'udp') { %>selected <% } %>value=udp>UDP</option>
        </select></label></p>
        <p><label>Source IP        <input data-key=srcIP   value="<%= srcIP %>"></label></p>
        <p><label>Source Port      <input data-key=srcPort value="<%= srcPort %>"></label></p>
        <p><label>Destination IP   <input data-key=dstIP   value="<%= dstIP %>"></label></p>
        <p><label>Destination Port <input data-key=dstPort value="<%= dstPort %>"></label></p>
    </script>
    
    <script type=text/template id=node-template>
        <p><label>Name<input data-key=name value="<%= name %>"></label></p>
        <p><label>IP Address<input data-key=ip value="<%= ip %>"></label></p>
        <div class=rule-list></div>
    </script>

    <script type=text/template id=question-template>
        <p><label>Question <textarea data-key=question><%= question %></textarea></label></p>
        <p>Choices</p>
        <ol start=1>
            <% _.each([0,1,2,3], function (idx) { %>
                <li><input value="<%- (choices[idx] === undefined) ? '' : choices[idx] %>"></li>
            <% }); %>
        </ol>
        <p><label>Index of answer <input type=number min=1 max=4 value=<%= answerIdx+1 %>></label></p>
    </script>

    <script type=text/template id=rule-template>
        <p><label>Source IP<input data-key=srcIP value="<%= srcIP %>"></label></p>
        <p><label>Source Port<input data-key=srcPort value="<%= srcPort %>"></label></p>
        <p><label>Destination IP<input data-key=dstIP value="<%= dstIP %>"></label></p>
        <p><label>Destination Port<input data-key=dstPort value="<%= dstPort %>"></label></p>
        <p><label>Action <select>
            <option <% if (action === 'accept') { %>selected <% } %>value=accept>ACCEPT</option>
            <option <% if (action === 'deny') { %>selected <% } %>value=deny>DENY</option>
        </select></label></p>
    </script>

    <script type=text/template id=graph-template>
        <h2>Network Connections & Diagram</h2>
        <div class=canvas-area></div>
        <p>Drag nodes to position them. Click two nodes to connect/disconnect them.</p>
    </script>

    <script src=js/lib/jquery.js></script>
    <script src=js/lib/jquery-ui/jquery-ui-custom.js></script>
    <link rel=stylesheet href=js/lib/jquery-ui/jquery-ui.css>

    <script src=js/lib/underscore.js></script>
    <script src=js/lib/backbone.js></script>

    <script src=js/Rule.js></script>
    <script src=js/RuleList.js></script>
    <script src=js/Node.js></script>
    <script src=js/Graph.js></script>
    <script src=js/TestPacket.js></script>
    <script src=js/Packet.js></script>
    <script src=js/Question.js></script>
    <script src=js/Challenge.js></script>
    <script src=js/Campaign.js></script>

    <script src=js/GraphView.js></script>
    <script src=js/editor.js></script>
</head>

<body>
    <h1>Campaign Editor</h1>
    <input id=export-button type=button value="Export Campaign">
    <div id=campaign-area>
    </div>
</body>

</html>
